@import "heart.css";
body {
  background-color: #fff9e9;
}

.active {
  color: #fab83e;
}

div section#profile,
div section#links {
  display: block;
  text-align: center;
  position: relative;
}

div section#profile img {
  width: 125px;
  height: 125px;
  margin-bottom: 25px;
  border-radius: 100%;
  box-shadow: none;
  cursor: pointer;
  border: 0 solid transparent;
  transition: all 0.2s;
}

div section#profile img:hover {
  border: 3px solid #fab83e;
  transition: all 0.2s;
}

div section h1 {
  font-size: 2.5rem;
  color: #222;
  font-weight: 700;
}

div section p.description {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: normal;
  color: #aaa;
}

div section#links {
  display: flex;
  justify-content: center;
}

div section#links .icon {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

div section#links .icon span {
  position: relative;
  height: 50px;
  width: 50px;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

div section#links .icon span i {
  font-size: 25px;
  line-height: 50px;
}

div section#links .icon .tooltip {
  background: #fff;
  font-size: 15px;
  padding: 2px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  top: 30px;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

div section#links .icon:hover .tooltip {
  top: 57px;
  opacity: 1;
  pointer-events: auto;
}
div section#links .icon:hover #linkedin span,
div section#links .icon #linkedin .tooltip,
div section#links .icon #linkedin .tooltip:before {
  background: #0a66c2;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

div section#links .icon:hover #github span,
div section#links .icon #github .tooltip,
div section#links .icon #github .tooltip:before {
  background: #24292e;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

div section#links .icon:hover #portfolio span,
div section#links .icon #portfolio .tooltip,
div section#links .icon #portfolio .tooltip:before {
  background: #3f280e;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

div section#links a {
  font-size: 1.5rem;
  color: #000;
  margin: 0 5px;
  transition: all 0.2s ease;
}

div section#links a#music,
div section#links a#about {
  color: #aaa;
}
/* 
div section#links a#linkedin:hover,
div section#links a#github:hover,
div section#links a#portfolio:hover {
  font-size: 1.5rem;
  color: #aaa;
  margin: 0 5px;
  transition: all 0.2s ease;
} */

div footer,
div#divider {
  border-top: 1px solid #ededed;
  padding-top: 40px;
  margin: 40px 0 20px 0;
  font-size: 1rem;
  color: #aaa;
  font-weight: 300;
  text-align: center;
  position: relative;
}

div footer:before,
div#divider:before {
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  border: 1px solid #ededed;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  box-shadow: 0 0 0 5px #fff9e9;
  border-radius: 3px;
}

div footer svg.heart {
  fill: #fa3e3e;
  margin: 0 0.5rem;
  width: 0.7rem;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

div footer span {
  font-weight: 300;
  transition: font-weight 0.2s ease-in-out;
}

div footer span:hover {
  font-weight: 600;
  transition: font-weight 0.2s ease-in-out;
}

/* ------- */

.card {
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  transition: all 0.2s ease-in-out;
  top: 0;
}

.card:hover {
  top: -5px;
  transition: all 0.2s ease-in-out;
}

.card-body {
  height: 180px;
}

.card-title,
.card-text {
  text-align: left;
}

.card-links {
  position: absolute;
  bottom: 20px;
}

.card-links a {
  color: #000;
  font-size: 1.5rem;
  margin: 0 5px;
  transition: color 0.2s ease-in-out;
  position: absolute;
  /* bottom: 15px; */
}

/* .card-links a:hover {
  color: #fab83e;
  font-size: 1.5rem;
  margin: 0 5px;
  transition: color 0.2s ease-in-out;
} */

.card-links span {
  margin-right: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px 0px;
  grid-template-areas:
    "job1 job2 job3 job4"
    ". . . ."
    ". . . .";
}
.job1 {
  grid-area: job1;
}
.job2 {
  grid-area: job2;
}
.job3 {
  grid-area: job3;
}
.job4 {
  grid-area: job4;
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "job1 job2"
      "job3 job4";
  }
  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
  .job4 {
    grid-area: job4;
  }

  #jobs {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 615px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
      "job1"
      "job2"
      "job3"
      "job4";
  }
  .job1 {
    grid-area: job1;
  }
  .job2 {
    grid-area: job2;
  }
  .job3 {
    grid-area: job3;
  }
  .job4 {
    grid-area: job4;
  }
}
